/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
/*@import '~bootstrap-toogle/css/bootstrap-toogle.css';*/

.mr5 {
  margin-right: 5px;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fillParent {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

html, body {
  height: 100%;
  margin:0;
  padding:0;
}
