<div id="wrapper">
  <div><label for="accountOptions">From:</label>
    <select id="accountOptions" name="accountOptions" [(ngModel)]="selectedAccount" class="form-control">
      <option *ngFor="let account of accounts " [ngValue]="account">{{account.accountName}}</option>
    </select>
  </div>
  <div>
    <rl-tag-input id="toBox" [(ngModel)]="message.to" placeholder="recipient"></rl-tag-input>
  </div>
  <div>
    <rl-tag-input id="ccBox" [(ngModel)]="message.cc" placeholder="cc"></rl-tag-input>
  </div>
  <div>
    <rl-tag-input id="bccBox" [(ngModel)]="message.bcc" placeholder="bcc"></rl-tag-input>
  </div>
  <div><label for="subjectBox">Subject: </label><input type="text" id="subjectBox" [(ngModel)]="message.subject" class="form-control"/></div>
  <ckeditor [(ngModel)]="message.content" debounce="500"></ckeditor>
  <button class="btn btn-primary" id="sendButton" (click)="sendMessage()">
    <i class="fa fa-arrow-right mr5"></i>Send
  </button>
</div>
<div id="attachmentPanel">
  <h3>Attachments</h3>
  <input id="fileupload" type="file" name="files[]" multiple>
  <div id="attachmentoverallprogress" style="width:0"></div>
</div>
